<div class="border">
  <div nz-row>
    <span style="font-weight:bold;padding:5px;">
      <span>结算控制面板</span>
      <span style="padding-left:5px;color:lightgray;">
        <i class="anticon anticon-clock-circle-o"></i>
        <span>{{currentDate}}</span>
      </span>
    </span>
  </div>
  <div nz-row [nzGutter]="3" style="padding-bottom:3px;">
    <div nz-col [nzSpan]="8">
      <span>{{currentDay}}</span>
      <!-- <nz-date-picker style="width:100%;" [(ngModel)]="_date" (ngModelChange)="dateChange()"></nz-date-picker> -->
    </div>
    <div *ngIf="!hasPrice() && !priceEditable; else elseBtn" nz-col [nzMd]="14" [nzXs]="14" [nzSm]="14">
      <button style="color:black;width:100%;" nz-button [nzType]="'default'" [nzSize]="'small'" (click)="doCraete()">
        <span>
          <i class="anticon anticon-plus-square-o"></i>
          <span style="margin:0px;">创建</span>
        </span>
      </button>
    </div>
    <ng-template #elseBtn>
      <div *ngIf="!readonly" nz-col [nzSpan]="16">
        <div nz-row [nzGutter]="2">
          <button *ngIf="!priceEditable" style="color:black;" nz-button [nzType]="'default'" [nzSize]="'small'" (click)="doEdit()">
            <span>
              <i class="anticon anticon-plus-square-o"></i>
              <span style="margin:0px;">更改价格配置</span>
            </span>
          </button>
          <button *ngIf="priceEditable" style="color:black;" nz-button [nzType]="'default'" [nzSize]="'small'" (click)="doAddSixPrice()">
            <span>
              <i class="anticon anticon-plus-square-o"></i>
              <span style="margin:0px;">六·加点</span>
            </span>
          </button>
          <button *ngIf="priceEditable" style="color:black;" nz-button [nzType]="'default'" [nzSize]="'small'" (click)="doAddSevenPrice()">
            <span>
              <i class="anticon anticon-plus-square-o"></i>
              <span style="margin:0px;">七·加点</span>
            </span>
          </button>
          <button *ngIf="priceEditable" style="color:green;" nz-button [nzType]="'default'" [nzSize]="'small'" (click)="doSave()">
            <span>
              <i class="anticon anticon-save"></i>
              <span style="margin:0px;">保存</span>
            </span>
          </button>
        </div>
      </div>
    </ng-template>
  </div>
  <div *ngIf="!hasPrice() && !priceEditable && !readonly; else elseTable" nz-row>
    <p style="padding:3px;font-size:large;">
      <span>今日无定价,去</span>
      <a href="javascript:void(0);" (click)="doCraete()">创建</a>
    </p>
  </div>
  <ng-template #elseTable>
    <!-- <div nz-row>
      <nz-input-group nzAddOnBefore="重量调整" nzAddOnAfter="斤">
        <input nz-input style="padding-bottom:2px;" [readonly]="readonly || !priceEditable" [(ngModel)]="priceExtra.weightAdjust">
      </nz-input-group>
    </div> -->
    <div nz-row>
      <nz-table #nzTable [nzSize]="'small'" [nzData]="prices" [nzShowPagination]="false" [nzFrontPagination]="false">
        <thead nz-thead>
          <tr>
            <th nz-th style="padding:5px;">
              <span>区间点</span>
            </th>
            <th nz-th style="padding:5px;">
              <span>价格</span>
            </th>
            <th nz-th style="padding:5px;width:48px;">
              <span>层数</span>
            </th>
            <th *ngIf="!readonly && priceEditable" nz-th style="padding:5px;width:48px;">
              <span>移除</span>
            </th>
          </tr>
        </thead>
        <tbody nz-tbody>
          <tr nz-tbody-tr *ngFor="let item of nzTable.data; let i = index">
            <td nz-td style="padding:2px;">
              <nz-input-group nzAddOnAfter="斤">
                <input nz-input [readonly]="readonly || !priceEditable" style="width:100%;" [(ngModel)]="item.weight">
              </nz-input-group>
            </td>
            <td nz-td style="padding:2px;">
              <nz-input-group [nzAddOnAfter]="7===item.level ? '÷ 6 × 7 元' : '元'">
                <input nz-input [readonly]="readonly || !priceEditable" style="width:100%;" [(ngModel)]="item.price">
              </nz-input-group>
            </td>
            <td nz-td style="padding:2px 8px;">
              <nz-tag *ngIf="6===item.level" [nzColor]="'blue'">{{item.level}}</nz-tag>
              <nz-tag *ngIf="7===item.level" [nzColor]="'cyan'">{{item.level}}</nz-tag>
            </td>
            <td *ngIf="!readonly && priceEditable" nz-td style="padding:2px 8px;">
              <button style="color:coral;" nz-button [nzType]="'dashed'" [nzSize]="'small'" [nzShape]="'circle'" (click)="remove(item, i)">
                <i class="anticon anticon-delete"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <div *ngIf="hasPrice() && !priceEditable" nz-row style="padding:3px;">
      <div *ngIf="!readonly" nz-col [nzSpan]="24">
        <button style="width:100%;" nz-button [nzType]="'primary'" [nzSize]="'default'" (click)="doCalc()">
          <i class="anticon anticon-calculator"></i>
          <span style="margin:0px;">计算</span>
        </button>
      </div>
      <div *ngIf="missed.length > 0" nz-col [nzSpan]="24" style="margin-top:3px;">
        <nz-alert [nzType]="'warning'" nzShowIcon [nzDescription]="'重量 ' + missedWeights + ' 没有价格'"></nz-alert>
      </div>
    </div>
  </ng-template>
</div>
