<div style="background-color:white;">
  <div class="non-printable print-control">
    <div nz-row [nzGutter]="3">
      <div nz-col [nzSpan]="6">
        <nz-input-group nzAddOnBefore="标题">
          <input nz-input [(ngModel)]="config.title" (ngModelChange)="saveToLocal()">
        </nz-input-group>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-input-group nzAddOnBefore="每行个数">
          <input nz-input [(ngModel)]="config.colCount" (ngModelChange)="colCountChange()">
        </nz-input-group>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-input-group nzAddOnBefore="空行个数">
          <input nz-input [(ngModel)]="config.empRowCount" (ngModelChange)="empRowCountChange()">
        </nz-input-group>
      </div>
      <div nz-col [nzSpan]="6">
        <button nz-button [nzType]="'primary'" (click)="print()">
          <span>
            <i class="anticon anticon-printer"></i>
            <span>打印</span>
          </span>
        </button>
        <button nz-button [nzType]="'primary'" [nzShape]="'default'" (click)="goBack()">
          <span>
            <i class="anticon anticon-rollback"></i>
            <span>返回</span>
          </span>
        </button>
      </div>
    </div>
    <div nz-row style="padding-top:3px;" [nzGutter]="3">
      <div nz-col [nzSpan]="6">
        <nz-input-group nzAddOnBefore="上内边距(mm)">
          <input nz-input [(ngModel)]="config.style.top" (ngModelChange)="colCountChange()">
        </nz-input-group>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-input-group nzAddOnBefore="左内边距(mm)">
          <input nz-input [(ngModel)]="config.style.left" (ngModelChange)="colCountChange()">
        </nz-input-group>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-input-group nzAddOnBefore="下内边距(mm)">
          <input nz-input [(ngModel)]="config.style.bottom" (ngModelChange)="colCountChange()">
        </nz-input-group>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-input-group nzAddOnBefore="右内边距(mm)">
          <input nz-input [(ngModel)]="config.style.right" (ngModelChange)="colCountChange()">
        </nz-input-group>
      </div>
    </div>
    <div nz-row style="padding-top:3px;" [nzGutter]="3">
      <div nz-col [nzSpan]="2">
        <label nz-checkbox [(ngModel)]="config.showBorder" (ngModelChange)="saveToLocal()">
          <span>打印边框</span>
        </label>
      </div>
      <div nz-col [nzSpan]="2">
        <label nz-checkbox [(ngModel)]="config.showRemark" (ngModelChange)="saveToLocal()">
          <span>打印备注</span>
        </label>
      </div>
    </div>
  </div>
  <div class="printable print-container" [ngStyle]="paddingStyle()">
    <div>
      <div nz-row>
        <div class="print-title">
          <span class="print-title-text">
            <pre>{{config.title}}</pre>
          </span>
        </div>
      </div>
      <div nz-row [nzGutter]="3" style="padding:5px;">
        <div class="no-wrap" nz-col nzSpan="4">
          <span>姓名:</span>
          <span class="value-text">{{user.name}}</span>
        </div>
        <div class="no-wrap" nz-col nzSpan="4">
          <span>件数:</span>
          <span class="value-text">{{bill.totalCount}}</span>
        </div>
        <div class="no-wrap" nz-col nzSpan="11">
          <span>时间:</span>
          <span class="value-text">{{bill.date}}</span>
        </div>
        <div class="no-wrap non-printable" nz-col nzSpan="5" style="text-align:right;">
          <span style="padding-right:13px;">
            <span>户单号:</span>
            <span class="value-text">{{order.id}}</span>
          </span>
        </div>
      </div>
    </div>
    <div *ngIf="tables.length>0" style="padding-top:3px;">
      <div *ngFor="let t of tables; let ti = index">
        <nz-table #nzTable [nzBordered]="config.showBorder" [nzSize]="'small'" [nzData]="values" [nzShowPagination]="false">
          <tbody nz-tbody>
            <tr *ngFor="let row of t.rows;let r = index">
              <td *ngFor="let col of t.cols;let c = index" nz-td [ngStyle]="tdStyle">
                <span>{{t.w(r,c)}}</span>
              </td>
            </tr>
            <ng-container *ngIf="ti===tables.length-1">
              <tr *ngFor="let row of empRows;let r = index">
                <td *ngFor="let col of t.cols;let c = index" nz-td>
                  <span style="visibility: hidden;">-</span>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </nz-table>
        <div nz-row [nzGutter]="3" style="padding:5px;padding-bottom:10px;">
          <div class="no-wrap" nz-col nzSpan="4">
            <span>总件数:</span>
            <span class="foot-text">
              <span>{{t.totalCount}} 元</span>
            </span>
          </div>
          <div *ngIf="config.showTotalPrice" class="no-wrap" nz-col nzSpan="14">
            <span>总价:</span>
            <span class="foot-text">
              <span>{{t.totalPrice}} 元</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="tables.length<1" style="padding-top:3px;">
      <nz-table #nzTable [nzBordered]="config.showBorder" [nzSize]="'small'" [nzData]="values" [nzShowPagination]="false">
        <tbody nz-tbody>
          <tr *ngFor="let row of rows;let r = index">
            <td *ngFor="let col of cols;let c = index" nz-td style="padding:5px;color:black;">
              <span>{{w(r,c)}}</span>
            </td>
          </tr>
          <tr *ngFor="let row of empRows;let r = index">
            <td *ngFor="let col of cols;let c = index" nz-td>
              <span style="visibility: hidden;">-</span>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <div nz-row [nzGutter]="3" style="padding:5px;">
      <div class="no-wrap" nz-col nzSpan="4">
        <span>总件数:</span>
        <span class="foot-text">
          <span>{{bill.totalCount}} 件</span>
        </span>
      </div>
      <div *ngIf="config.showTotalPrice" class="no-wrap" nz-col nzSpan="14">
        <span>总价:</span>
        <span class="foot-text">
          <span>{{bill.totalPrice}} 元</span>
        </span>
      </div>
    </div>
    <div nz-row [nzGutter]="3" style="padding:5px;">
      <div *ngIf="config.showRemark" class="no-wrap" nz-col nzSpan="24">
        <span>备注:</span>
        <span class="foot-text">{{order.remark}}</span>
      </div>
    </div>
  </div>
</div>
