<div style="background-color:white;">
  <div class="non-printable print-control">
    <div nz-row [nzGutter]="3">
      <div nz-col [nzSpan]="6">
        <nz-input-group nzAddOnBefore="标题">
          <input nz-input [(ngModel)]="config.title" (ngModelChange)="saveToLocal()">
        </nz-input-group>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-input-group nzAddOnBefore="每行个数">
          <input nz-input [(ngModel)]="config.colCount" (ngModelChange)="colCountChange()">
        </nz-input-group>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-input-group nzAddOnBefore="行数">
          <input nz-input [(ngModel)]="config.rowCount" (ngModelChange)="rowCountChange()">
        </nz-input-group>
      </div>
      <div nz-col [nzSpan]="6">
        <button nz-button [nzType]="'primary'" (click)="print()">
          <span>
            <i class="anticon anticon-printer"></i>
            <span>打印</span>
          </span>
        </button>
        <button nz-button [nzType]="'primary'" [nzShape]="'default'" (click)="goBack()">
          <span>
            <i class="anticon anticon-rollback"></i>
            <span>返回</span>
          </span>
        </button>
      </div>
    </div>
    <div nz-row style="padding-top:3px;" [nzGutter]="3">
      <div nz-col [nzSpan]="6">
        <nz-input-group nzAddOnBefore="上内边距(mm)">
          <input nz-input [(ngModel)]="config.style.top" (ngModelChange)="colCountChange()">
        </nz-input-group>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-input-group nzAddOnBefore="左内边距(mm)">
          <input nz-input [(ngModel)]="config.style.left" (ngModelChange)="colCountChange()">
        </nz-input-group>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-input-group nzAddOnBefore="下内边距(mm)">
          <input nz-input [(ngModel)]="config.style.bottom" (ngModelChange)="colCountChange()">
        </nz-input-group>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-input-group nzAddOnBefore="右内边距(mm)">
          <input nz-input [(ngModel)]="config.style.right" (ngModelChange)="colCountChange()">
        </nz-input-group>
      </div>
    </div>
    <div nz-row style="padding-top:3px;" [nzGutter]="3">
      <div nz-col [nzSpan]="2">
        <label nz-checkbox [(ngModel)]="config.showRemark" (ngModelChange)="saveToLocal()">
          <span>打印备注</span>
        </label>
      </div>
      <!-- <div nz-col [nzSpan]="16">
        <nz-input-group nzAddOnBefore="备注内容">
          <input nz-input [(ngModel)]="config.remarkContent" (ngModelChange)="saveToLocal()">
        </nz-input-group>
      </div> -->
    </div>
  </div>
  <div class="printable print-container" [ngStyle]="paddingStyle()">
    <div>
      <div nz-row>
        <div class="print-title">
          <span class="print-title-text">
            <pre style="margin-top:15px;margin-bottom:0px;">{{config.title}}</pre>
          </span>
        </div>
      </div>
      <div nz-row [nzGutter]="3" style="padding:5px;">
        <div class="no-wrap" nz-col nzSpan="4">
          <span>姓名:</span>
          <span class="value-text">{{user.name}}</span>
        </div>
        <div class="no-wrap" nz-col nzSpan="4">
          <span>村庄:</span>
          <span class="value-text">{{user.country}}</span>
        </div>
        <div class="no-wrap" nz-col nzSpan="11">
          <span>时间:</span>
          <span class="value-text">{{bill.date}}</span>
        </div>
        <div class="no-wrap" nz-col nzSpan="5" style="text-align:right;">
          <span style="padding-right:13px;">
            <span>户单号:</span>
            <span class="value-text">{{order.dayOrder}}</span>
          </span>
        </div>
      </div>
    </div>
    <div style="padding-top:3px;">
      <table style="width:100%;">
        <tbody>
          <tr *ngFor="let row of rows;let r = index">
            <td *ngFor="let col of cols;let c = index" class="print-text" style="padding:5px;color:black;">
              <span>{{w(r,c)}}</span>
              <span style="visibility:hidden;">.</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div nz-row [nzGutter]="3" style="padding:5px;">
      <div class="no-wrap print-text" nz-col nzSpan="4">
        <span>总数</span>
        <span class="foot-text">
          <span>（{{bill.totalCount}}）</span>
        </span>
      </div>
      <div *ngIf="config.showTotalPrice" class="no-wrap print-text" nz-col nzSpan="12">
        <span>总款</span>
        <span class="foot-text">
          <span>（{{formatPrice(bill.totalPrice)}} 元）</span>
        </span>
      </div>
      <div *ngIf="config.showRemark" style="text-align:right;" nz-col nzSpan="8">
        <span class="foot-text print-text" style="margin-right:10px;">电话: 15830199809 王津</span>
      </div>
    </div>
  </div>
</div>
