<div style="background-color:white;">
  <div>
    <div *ngIf="!orderCreated" nz-row [nzGutter]="3" style="padding-bottom:7px;">
      <div nz-col nzSpan="12">
        <nz-select style="width: 100%;" nzMode="default" [(ngModel)]="selectedUser" (ngModelChange)="selectedUserChange($event)"
          nzPlaceHolder="选择用户" nzAllowClear nzShowSearch [nzServerSearch]="true" (nzOnSearch)="onSearchUser($event)">
          <ng-container *ngFor="let user of userList">
            <nz-option *ngIf="!isLoading" [nzValue]="user" [nzLabel]="user.name" nzCustomContent>
              <div nz-row>
                <div nz-col nzSpan="8">
                  <i class="anticon anticon-user"></i>
                  <i>{{user.name}}</i>
                </div>
                <div nz-col nzSpan="16">
                  <i class="anticon anticon-home"></i>
                  <i>{{user.country}}</i>
                </div>
              </div>
            </nz-option>
          </ng-container>
          <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
            <i class="anticon anticon-loading anticon-spin loading-icon"></i> 加载数据...
          </nz-option>
        </nz-select>
      </div>
      <div nz-col nzSpan="12">
        <input nz-input placeholder="所在地" [(ngModel)]="user.country" [readonly]="!countryEditable">
      </div>
    </div>
    <div *ngIf="orderCreated" nz-row [nzGutter]="3" style="padding-bottom:7px;">
      <div nz-col nzSpan="4">
        <input nz-input [(ngModel)]="order.id" [readonly]="true">
      </div>
      <div nz-col nzSpan="10">
        <input nz-input [(ngModel)]="selectedUser.name" [readonly]="true">
      </div>
      <div nz-col nzSpan="10">
        <input nz-input [(ngModel)]="user.country" [readonly]="true">
      </div>
    </div>
    <div *ngIf="!orderCreated">
      <nz-card style="width:100%;" [nzBordered]="true" [nzHoverable]="true" [nzBodyStyle]="cardBodyStyle" nzTitle="选择六层使用的斤称" [nzExtra]="extraTemplate6">
        <div nz-card-grid [ngStyle]="gridStyle" *ngFor="let item of sixWeights; let i=index">
          <nz-input-group nzSearch nzSize="large" [nzSuffix]="suffixButton">
            <input type="text" nz-input [(ngModel)]="item.weight" (ngModelChange)="weightLevelChange('6',item.weight)" placeholder="输入新斤称">
          </nz-input-group>
          <ng-template #suffixButton>
            <button nz-button nzType="primary" nzSize="large" (click)="removeWeightLevel('6', i)">移除</button>
          </ng-template>
        </div>
      </nz-card>
      <ng-template #extraTemplate6>
        <a class="click-icon" (click)="sortWeightLevel('6')" style="padding-right: 5px;">排序</a>
        <a class="click-icon" (click)="addWeightLevel('6')">添加</a>
      </ng-template>
      <nz-card style="width:100%;margin-top:7px;" [nzBordered]="true" [nzHoverable]="true" [nzBodyStyle]="cardBodyStyle" nzTitle="选择七层使用的斤称"
        [nzExtra]="extraTemplate7">
        <div nz-card-grid [ngStyle]="gridStyle" *ngFor="let item of sevenWeights; let i=index">
          <nz-input-group nzSearch nzSize="large" [nzSuffix]="suffixButton">
            <input type="text" nz-input [(ngModel)]="item.weight" (ngModelChange)="weightLevelChange('7',item.weight)" placeholder="输入新斤称">
          </nz-input-group>
          <ng-template #suffixButton>
            <button nz-button nzType="primary" nzSize="large" (click)="removeWeightLevel('7', i)">移除</button>
          </ng-template>
        </div>
      </nz-card>
      <ng-template #extraTemplate7>
        <a class="click-icon" (click)="sortWeightLevel('7')" style="padding-right: 5px;">排序</a>
        <a class="click-icon" (click)="addWeightLevel('7')">添加</a>
      </ng-template>
    </div>
    <div *ngIf="orderCreated">
      <nz-card *ngIf="sixWeightItems.length>0" style="width:100%;" [nzBordered]="true" [nzHoverable]="true" [nzBodyStyle]="cardBodyStyle"
        nzTitle="六层计数" [nzExtra]="extraTemplate6">
        <div nz-card-grid [ngStyle]="gridStyle" *ngFor="let item of sixWeightItems; let i=index">
          <div nz-row>
            <div nz-col [nzSpan]="24">
              <nz-button-group [nzSize]="large">
                <button nz-button nzType="default">
                  <span style="color:purple;">重: {{item.weight}}</span>
                </button>
                <button nz-button nzType="default">
                  <span style="color:green;">数量: {{item.count}}</span>
                </button>
                <button nz-button nzType="primary" (click)="plusItemCount(item)">加</button>
                <button nz-button nzType="primary" (click)="minusItemCount(item)">减</button>
              </nz-button-group>
            </div>
          </div>
        </div>
      </nz-card>
      <nz-card *ngIf="sevenWeightItems.length>0" style="width:100%;margin-top:7px;" [nzBordered]="true" [nzHoverable]="true" [nzBodyStyle]="cardBodyStyle"
        nzTitle="七层计数" [nzExtra]="extraTemplate7">
        <div nz-card-grid [ngStyle]="gridStyle" *ngFor="let item of sevenWeightItems; let i=index">
          <div nz-row>
            <div nz-col [nzSpan]="24">
              <nz-button-group [nzSize]="large">
                <button nz-button nzType="default">
                  <span style="color:purple;">重: {{item.weight}}</span>
                </button>
                <button nz-button nzType="default">
                  <span style="color:green;">数量: {{item.count}}</span>
                </button>
                <button nz-button nzType="primary" (click)="plusItemCount(item)">加</button>
                <button nz-button nzType="primary" (click)="minusItemCount(item)">减</button>
              </nz-button-group>
            </div>
          </div>
        </div>
      </nz-card>
    </div>
    <div style="padding-top: 16px;" nz-row>
      <div nz-col nzSpan="4" nzOffset="20">
        <button style="width:100%;" nz-button nzType="primary" nzSize="large" (click)="newOrder()">确认新建</button>
      </div>
    </div>
  </div>
</div>
