<div style="background-color:white;">
  <div>
    <div *ngIf="!orderCreated" style="padding-bottom:7px;">
      <nz-steps style="padding: 10px;" [nzCurrent]="stepCurrent">
        <nz-step nzTitle="选择用户"></nz-step>
        <nz-step nzTitle="选择斤称"></nz-step>
        <nz-step nzTitle="创建"></nz-step>
      </nz-steps>
      <div>
        <div *ngIf="stepCurrent == 0">
          <div>
            <div nz-row [nzGutter]="3">
              <div nz-col [nzXs]="10" [nzSm]="10" [nzMd]="10">
                <nz-input-group nzAddOnBefore="按姓名搜索:">
                  <input type="text" nz-input [(ngModel)]="search.name" (ngModelChange)="doSearch()">
                </nz-input-group>
              </div>
              <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4">
                <button [nzSize]="'default'" nz-button [nzType]="'primary'" (click)="addUser()">
                  <span style="margin:0px;">添加新用户</span>
                </button>
              </div>
            </div>
            <div style="padding-top:13px;">
              <nz-table #tableData [nzData]="userList" [nzSize]="'default'" [nzShowPagination]="false" [nzNoResult]="'没有数据'">
                <thead nz-thead>
                  <tr>
                    <th nz-th class="nowrap">
                      <span>姓名</span>
                    </th>
                    <th nz-th class="nowrap">
                      <span>村庄</span>
                    </th>
                    <th nz-th class="nowrap sm-hidden">
                      <span>手机</span>
                    </th>
                    <th nz-th class="nowrap sm-hidden">
                      <span>创建时间</span>
                    </th>
                    <th nz-th class="nowrap" style="width:200px;">
                      <span>操作</span>
                    </th>
                  </tr>
                </thead>
                <tbody nz-tbody>
                  <tr nz-tbody-tr *ngFor="let item of tableData.data; let i = index">
                    <td nz-td>
                      <span>{{item.name}}</span>
                    </td>
                    <td nz-td>
                      <span>{{item.country}}</span>
                    </td>
                    <td nz-td>
                      <span>{{item.phone}}</span>
                    </td>
                    <td nz-td>
                      <span>{{item.createdAt}}</span>
                    </td>
                    <td nz-td style="padding-left:8px;" class="nowrap">
                      <button style="color:coral;" nz-button [nzType]="'default'" [nzSize]="'small'" (click)="selectUser(item)">
                        <span>
                          <span>选择</span>
                          <i class="anticon anticon-check"></i>
                        </span>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </nz-table>
            </div>
            <div>
              <div *ngIf="userList && userList.length > 0" style="margin-top:15px;margin-bottom:15px;padding-left:15px;">
                <nz-pagination [(nzPageIndex)]="current" [nzTotal]="total" [(nzPageSize)]="size" [nzSize]="'small'" [nzShowTotal]="totalTemplate"
                  [nzShowSizeChanger]="true" [nzPageSizeOptions]="[10, 20, 50, 100]" (nzPageIndexChange)="doSearch()" (nzPageSizeChange)="doSearch()">
                </nz-pagination>
                <ng-template #totalTemplate let-total>共 {{total}} 条</ng-template>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="stepCurrent == 1">
          <div>
            <div nz-row [nzGutter]="3" style="padding-bottom: 5px;">
              <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12">
                <nz-input-group nzAddOnBefore="姓名:">
                  <input type="text" nz-input [(ngModel)]="user.name" readonly>
                </nz-input-group>
              </div>
              <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12">
                <nz-input-group nzAddOnBefore="村庄:">
                  <input type="text" nz-input [(ngModel)]="user.country" readonly>
                </nz-input-group>
              </div>
            </div>
          </div>
          <nz-card style="width:100%;" [nzBordered]="true" [nzHoverable]="true" [nzBodyStyle]="cardBodyStyle" nzTitle="选择六层使用的斤称" [nzExtra]="extraTemplate6">
            <div nz-card-grid [ngStyle]="gridStyle" *ngFor="let item of sixWeights; let i=index">
              <nz-input-group nzSearch nzSize="large" [nzSuffix]="suffixButton">
                <input type="text" nz-input [(ngModel)]="item.weight" (ngModelChange)="weightLevelChange('6',item.weight)" placeholder="输入新斤称">
              </nz-input-group>
              <ng-template #suffixButton>
                <button nz-button nzType="primary" nzSize="large" (click)="removeWeightLevel('6', i)">移除</button>
              </ng-template>
            </div>
          </nz-card>
          <ng-template #extraTemplate6>
            <a class="click-icon" (click)="sortWeightLevel('6')" style="padding-right: 5px;">排序</a>
            <a class="click-icon" (click)="addWeightLevel('6')">添加</a>
          </ng-template>
          <nz-card style="width:100%;margin-top:7px;" [nzBordered]="true" [nzHoverable]="true" [nzBodyStyle]="cardBodyStyle" nzTitle="选择七层使用的斤称"
            [nzExtra]="extraTemplate7">
            <div nz-card-grid [ngStyle]="gridStyle" *ngFor="let item of sevenWeights; let i=index">
              <nz-input-group nzSearch nzSize="large" [nzSuffix]="suffixButton">
                <input type="text" nz-input [(ngModel)]="item.weight" (ngModelChange)="weightLevelChange('7',item.weight)" placeholder="输入新斤称">
              </nz-input-group>
              <ng-template #suffixButton>
                <button nz-button nzType="primary" nzSize="large" (click)="removeWeightLevel('7', i)">移除</button>
              </ng-template>
            </div>
          </nz-card>
          <ng-template #extraTemplate7>
            <a class="click-icon" (click)="sortWeightLevel('7')" style="padding-right: 5px;">排序</a>
            <a class="click-icon" (click)="addWeightLevel('7')">添加</a>
          </ng-template>
        </div>
      </div>
      <div style="padding-top:10px;">
        <button nz-button nzType="default" (click)="pre()" *ngIf="stepCurrent > 0">
          <span>上一步</span>
        </button>
        <button nz-button nzType="primary" (click)="newOrder()" *ngIf="stepCurrent === 1">确认新建</button>
      </div>
    </div>
    <div *ngIf="orderCreated" nz-row [nzGutter]="3" style="padding-bottom:7px;">
      <div nz-col nzSpan="4">
        <nz-input-group nzAddOnBefore="单号">
          <input nz-input [(ngModel)]="order.dayOrder" [readonly]="true">
        </nz-input-group>
      </div>
      <div nz-col nzSpan="4">
        <nz-input-group nzAddOnBefore="总数">
          <input nz-input [(ngModel)]="totalCount" [readonly]="true">
        </nz-input-group>
      </div>
      <div nz-col nzSpan="6">
        <nz-input-group nzAddOnBefore="姓名">
          <input nz-input [(ngModel)]="user.name" [readonly]="true">
        </nz-input-group>
      </div>
      <div nz-col nzSpan="10">
        <nz-input-group nzAddOnBefore="地址">
          <input nz-input [(ngModel)]="user.country" [readonly]="true">
        </nz-input-group>
      </div>
      <div nz-col nzSpan="24" style="padding-top: 5px;">
        <nz-input-group nzAddOnBefore="备注">
          <textarea nz-input [(ngModel)]="order.remark" (ngModelChange)="remarkChange()" row="2" [readonly]="readonly"></textarea>
        </nz-input-group>
      </div>
    </div>
    <div *ngIf="orderCreated">
      <nz-card *ngIf="sixWeightItems.length>0" style="width:100%;" [nzBordered]="true" [nzHoverable]="true" [nzBodyStyle]="cardBodyStyle"
        nzTitle="六层" [nzExtra]="extraTemplate6">
        <div nz-card-grid [ngStyle]="gridStyle" *ngFor="let item of sixWeightItems; let i=index">
          <nz-card style="width:100%;">
            <div nz-row nzGutter="2">
              <div *ngIf="!readonly" nz-col nzSpan="2">
                <button nz-button nzType="danger" [nzSize]="'default'" nzShape="circle" (click)="removeItem(item)">
                  <i class="anticon anticon-delete"></i>
                </button>
              </div>
              <div nz-col nzSpan="12">
                <span>{{item.weight}} 斤:</span>
                <span style="font-weight: bold;font-size: large">{{item.count}}</span>
              </div>
              <div *ngIf="!readonly" nz-col nzSpan="8">
                <button style="margin-right:5px;" nz-button nzType="primary" [nzSize]="'large'" nzShape="circle" (click)="minusItemCount(item)">
                  <i class="anticon anticon-minus"></i>
                </button>
                <button nz-button nzType="primary" [nzSize]="'large'" nzShape="circle" (click)="plusItemCount(item)">
                  <i class="anticon anticon-plus"></i>
                </button>
              </div>
            </div>
          </nz-card>
        </div>
      </nz-card>
      <ng-template #extraTemplate6>
        <a *ngIf="!readonly" class="click-icon" (click)="newWeightLevel(6)">添加</a>
      </ng-template>
      <nz-card *ngIf="sevenWeightItems.length>0" style="width:100%;margin-top:7px;" [nzBordered]="true" [nzHoverable]="true" [nzBodyStyle]="cardBodyStyle"
        nzTitle="七层" [nzExtra]="extraTemplate7">
        <div nz-card-grid [ngStyle]="gridStyle" *ngFor="let item of sevenWeightItems; let i=index">
          <nz-card style="width:100%;">
            <div nz-row nzGutter="2">
              <div *ngIf="!readonly" nz-col nzSpan="2">
                <button nz-button nzType="danger" [nzSize]="'default'" nzShape="circle" (click)="removeItem(item)">
                  <i class="anticon anticon-delete"></i>
                </button>
              </div>
              <div nz-col nzSpan="12">
                <span>{{item.weight}} 斤:</span>
                <span style="font-weight: bold;font-size: large">{{item.count}}</span>
              </div>
              <div *ngIf="!readonly" nz-col nzSpan="8">
                <button style="margin-right:5px;" nz-button nzType="primary" [nzSize]="'large'" nzShape="circle" (click)="minusItemCount(item)">
                  <i class="anticon anticon-minus"></i>
                </button>
                <button nz-button nzType="primary" [nzSize]="'large'" nzShape="circle" (click)="plusItemCount(item)">
                  <i class="anticon anticon-plus"></i>
                </button>
              </div>
            </div>
          </nz-card>
        </div>
      </nz-card>
      <ng-template #extraTemplate7>
        <a *ngIf="!readonly" class="click-icon" (click)="newWeightLevel(7)">添加</a>
      </ng-template>
    </div>
    <div style="padding-top: 16px;" nz-row>
      <div nz-col nzSpan="24">
        <button *ngIf="!readonly && orderCreated" nz-button [nzType]="'danger'" (click)="doCommit()">
          <span>提交结算</span>
        </button>
        <button nz-button [nzType]="'dashed'" (click)="goBack()">
          <span style="margin:0px;">
            <i class="anticon anticon-rollback"></i>返回列表</span>
        </button>
      </div>
    </div>
  </div>
</div>
