<div style="background-color:white;">
  <div>
    <div *ngIf="!orderCreated" nz-row [nzGutter]="3" style="padding-bottom:7px;">
      <div nz-col nzSpan="12">
        <nz-input-group nzAddOnBefore="选择用户">
          <nz-select style="width: 100%;" nzMode="default" [(ngModel)]="selectedUser" (ngModelChange)="selectedUserChange($event)"
            nzPlaceHolder="选择用户" nzAllowClear nzShowSearch [nzServerSearch]="true" (nzOnSearch)="onSearchUser($event)">
            <ng-container *ngFor="let user of userList">
              <nz-option *ngIf="!isLoading" [nzValue]="user" [nzLabel]="user.name" nzCustomContent>
                <div nz-row>
                  <div nz-col nzSpan="8">
                    <i class="anticon anticon-user"></i>
                    <i>{{user.name}}</i>
                  </div>
                  <div nz-col nzSpan="16">
                    <i class="anticon anticon-home"></i>
                    <i>{{user.country}}</i>
                  </div>
                </div>
              </nz-option>
            </ng-container>
            <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
              <i class="anticon anticon-loading anticon-spin loading-icon"></i> 加载数据...
            </nz-option>
          </nz-select>
        </nz-input-group>
      </div>
      <div nz-col nzSpan="12">
        <nz-input-group nzAddOnBefore="所在地">
          <input nz-input placeholder="所在地" [(ngModel)]="user.country" [readonly]="!countryEditable">
        </nz-input-group>
      </div>
    </div>
    <div *ngIf="orderCreated" nz-row [nzGutter]="3" style="padding-bottom:7px;">
      <div nz-col nzSpan="4">
        <nz-input-group nzAddOnBefore="单号">
          <input nz-input [(ngModel)]="order.id" [readonly]="true">
        </nz-input-group>
      </div>
      <div nz-col nzSpan="4">
        <nz-input-group nzAddOnBefore="总数">
          <input nz-input [(ngModel)]="totalCount" [readonly]="true">
        </nz-input-group>
      </div>
      <div nz-col nzSpan="6">
        <nz-input-group nzAddOnBefore="姓名">
          <input nz-input [(ngModel)]="selectedUser.name" [readonly]="true">
        </nz-input-group>
      </div>
      <div nz-col nzSpan="10">
        <nz-input-group nzAddOnBefore="地址">
          <input nz-input [(ngModel)]="user.country" [readonly]="true">
        </nz-input-group>
      </div>
      <div nz-col nzSpan="24" style="padding-top: 5px;">
        <nz-input-group nzAddOnBefore="备注">
          <textarea nz-input [(ngModel)]="order.remark" (ngModelChange)="remarkChange()" row="2" [readonly]="readonly"></textarea>
        </nz-input-group>
      </div>
    </div>
    <div *ngIf="!orderCreated">
      <nz-card style="width:100%;" [nzBordered]="true" [nzHoverable]="true" [nzBodyStyle]="cardBodyStyle" nzTitle="选择六层使用的斤称" [nzExtra]="extraTemplate6">
        <div nz-card-grid [ngStyle]="gridStyle" *ngFor="let item of sixWeights; let i=index">
          <nz-input-group nzSearch nzSize="large" [nzSuffix]="suffixButton">
            <input type="text" nz-input [(ngModel)]="item.weight" (ngModelChange)="weightLevelChange('6',item.weight)" placeholder="输入新斤称">
          </nz-input-group>
          <ng-template #suffixButton>
            <button nz-button nzType="primary" nzSize="large" (click)="removeWeightLevel('6', i)">移除</button>
          </ng-template>
        </div>
      </nz-card>
      <ng-template #extraTemplate6>
        <a class="click-icon" (click)="sortWeightLevel('6')" style="padding-right: 5px;">排序</a>
        <a class="click-icon" (click)="addWeightLevel('6')">添加</a>
      </ng-template>
      <nz-card style="width:100%;margin-top:7px;" [nzBordered]="true" [nzHoverable]="true" [nzBodyStyle]="cardBodyStyle" nzTitle="选择七层使用的斤称"
        [nzExtra]="extraTemplate7">
        <div nz-card-grid [ngStyle]="gridStyle" *ngFor="let item of sevenWeights; let i=index">
          <nz-input-group nzSearch nzSize="large" [nzSuffix]="suffixButton">
            <input type="text" nz-input [(ngModel)]="item.weight" (ngModelChange)="weightLevelChange('7',item.weight)" placeholder="输入新斤称">
          </nz-input-group>
          <ng-template #suffixButton>
            <button nz-button nzType="primary" nzSize="large" (click)="removeWeightLevel('7', i)">移除</button>
          </ng-template>
        </div>
      </nz-card>
      <ng-template #extraTemplate7>
        <a class="click-icon" (click)="sortWeightLevel('7')" style="padding-right: 5px;">排序</a>
        <a class="click-icon" (click)="addWeightLevel('7')">添加</a>
      </ng-template>
    </div>
    <div *ngIf="orderCreated">
      <nz-card *ngIf="sixWeightItems.length>0" style="width:100%;" [nzBordered]="true" [nzHoverable]="true" [nzBodyStyle]="cardBodyStyle"
        nzTitle="六层" [nzExtra]="extraTemplate6">
        <div nz-card-grid [ngStyle]="gridStyle" *ngFor="let item of sixWeightItems; let i=index">
          <nz-card style="width:100%;" [nzActions]="readonly ? [] : [actionDelete,actionPlus,actionMinus]">
            <nz-card-meta [nzTitle]="metaTitle" [nzDescription]="metaDesc" [nzAvatar]="avatarTemplate"></nz-card-meta>
            <ng-template #metaTitle>
              <span>{{item.count}}</span>
            </ng-template>
            <ng-template #metaDesc>
              <span>六层重量: {{item.weight}} 斤</span>
            </ng-template>
          </nz-card>
          <ng-template #avatarTemplate>
            <nz-avatar [nzText]="'🥚'" nzSize="default" class="egg-avatar"></nz-avatar>
          </ng-template>
          <ng-template #actionDelete>
            <i class="anticon anticon-delete click-icon" (click)="removeItem(item)"></i>
          </ng-template>
          <ng-template #actionPlus>
            <i class="anticon anticon-plus click-icon" (click)="plusItemCount(item)"></i>
          </ng-template>
          <ng-template #actionMinus>
            <i class="anticon anticon-minus click-icon" (click)="minusItemCount(item)"></i>
          </ng-template>
        </div>
      </nz-card>
      <ng-template #extraTemplate6>
        <a *ngIf="!readonly" class="click-icon" (click)="newWeightLevel(6)">添加</a>
      </ng-template>
      <nz-card *ngIf="sevenWeightItems.length>0" style="width:100%;margin-top:7px;" [nzBordered]="true" [nzHoverable]="true" [nzBodyStyle]="cardBodyStyle"
        nzTitle="七层" [nzExtra]="extraTemplate7">
        <div nz-card-grid [ngStyle]="gridStyle" *ngFor="let item of sevenWeightItems; let i=index">
          <nz-card style="width:100%;" [nzActions]="readonly ? [] : [actionDelete,actionPlus,actionMinus]">
            <nz-card-meta [nzTitle]="metaTitle" [nzDescription]="metaDesc" [nzAvatar]="avatarTemplate"></nz-card-meta>
            <ng-template #metaTitle>
              <span>{{item.count}}</span>
            </ng-template>
            <ng-template #metaDesc>
              <span>七层重量: {{item.weight}} 斤</span>
            </ng-template>
          </nz-card>
          <ng-template #avatarTemplate>
            <nz-avatar [nzText]="'🥚'" nzSize="default" class="egg-avatar"></nz-avatar>
          </ng-template>
          <ng-template #actionDelete>
            <i class="anticon anticon-delete click-icon" (click)="removeItem(item)"></i>
          </ng-template>
          <ng-template #actionPlus>
            <i class="anticon anticon-plus click-icon" (click)="plusItemCount(item)"></i>
          </ng-template>
          <ng-template #actionMinus>
            <i class="anticon anticon-minus click-icon" (click)="minusItemCount(item)"></i>
          </ng-template>
        </div>
      </nz-card>
      <ng-template #extraTemplate7>
        <a *ngIf="!readonly" class="click-icon" (click)="newWeightLevel(7)">添加</a>
      </ng-template>
    </div>
    <div style="padding-top: 16px;" nz-row>
      <div nz-col nzSpan="24">
        <button *ngIf="!readonly && orderCreated" nz-button [nzType]="'danger'" (click)="doCommit()">
          <span>提交结算</span>
        </button>
        <button *ngIf="!orderCreated" nz-button nzType="primary" (click)="newOrder()">确认新建</button>
        <button nz-button [nzType]="'dashed'" (click)="goBack()">
          <span style="margin:0px;">
            <i class="anticon anticon-rollback"></i>返回列表</span>
        </button>
      </div>
    </div>
  </div>
</div>
