<div style="background-color:white;">
  <div nz-row [nzGutter]="3" style="padding-top:7px;">
    <div nz-col [nzXs]="6" [nzSm]="6" [nzMd]="6">
      <nz-input-group nzAddOnBefore="客户:">
        <nz-select style="width: 100%;" nzMode="default" [(ngModel)]="search.user" nzAllowClear nzShowSearch [nzServerSearch]="true"
          (nzOnSearch)="onSearchUser($event)" [nzNotFoundContent]="'没有符合检索条件的用户'">
          <ng-container *ngFor="let user of userList">
            <nz-option *ngIf="!isLoading" [nzValue]="user.id" [nzLabel]="user.name" nzCustomContent>
              <div nz-row>
                <div nz-col nzSpan="8">
                  <i class="anticon anticon-user"></i>
                  <i>{{user.name}}</i>
                </div>
                <div nz-col nzSpan="16">
                  <i class="anticon anticon-home"></i>
                  <i>{{user.country}}</i>
                </div>
              </div>
            </nz-option>
          </ng-container>
          <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
            <i class="anticon anticon-loading anticon-spin loading-icon"></i> 加载数据...
          </nz-option>
        </nz-select>
      </nz-input-group>
    </div>
    <div nz-col [nzXs]="6" [nzSm]="6" [nzMd]="6">
      <nz-select style="width: 100%;" nzAllowClear [nzPlaceHolder]="'选择单子状态'" [(ngModel)]="search.status" nzShowSearch>
        <nz-option *ngFor="let option of statusOptions" [nzLabel]="option.label" [nzValue]="option.value" [nzDisabled]="option.disabled">
        </nz-option>
      </nz-select>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-range-picker [(ngModel)]="dates" nzFormat="yyyy-MM-dd" (ngModelChange)="onDateOk()"></nz-range-picker>
    </div>
    <div nz-col [nzXs]="4" [nzSm]="4" [nzMd]="4">
      <button nz-button [nzType]="'primary'" (click)="doSearch()">
        <span>搜索</span>
      </button>
    </div>
  </div>
  <div style="padding-top:13px;">
    <nz-table #tableData [nzData]="list" [nzSize]="'default'" [nzShowPagination]="false" [nzNoResult]="'没有数据'">
      <thead nz-thead>
        <tr>
          <th nz-th class="nowrap">
            <span>单号</span>
          </th>
          <th nz-th class="nowrap">
            <span>姓名</span>
          </th>
          <th nz-th class="nowrap">
            <span>数量</span>
          </th>
          <th nz-th class="nowrap">
            <span>状态</span>
          </th>
          <th nz-th class="nowrap sm-hidden">
            <span>时间</span>
          </th>
          <th nz-th class="nowrap" style="width:200px;">
            <span>操作</span>
          </th>
        </tr>
      </thead>
      <tbody nz-tbody>
        <tr nz-tbody-tr *ngFor="let item of list; let i = index">
          <td nz-td style="width:100px;">
            <span>{{item.id}}</span>
          </td>
          <td nz-td>
            <span>{{item.user}}</span>
          </td>
          <td nz-td>
            <span>{{item.count || 0}}</span>
          </td>
          <td nz-td>
            <nz-tag [nzColor]="statusColor(item.status)">{{statusName(item.status)}}</nz-tag>
          </td>
          <td nz-td class="sm-hidden">
            <span>{{item.createdAt}}</span>
          </td>
          <td nz-td style="padding-left:8px;" class="nowrap">
            <button *ngIf="canBeDeprecated(item)" [nzSize]="'default'" nz-button [nzType]="'danger'" (click)="doDeprecate(item)">
              <span style="margin:0px;">
                <i class="anticon anticon-inbox"></i>废弃</span>
            </button>
            <button *ngIf="canEdit(item)" [nzSize]="'default'" nz-button [nzType]="'default'" (click)="doEdit(item)">
              <span style="margin:0px;">
                <i class="anticon anticon-edit"></i>编辑</span>
            </button>
            <button *ngIf="canDeal(item)" [nzSize]="'default'" nz-button [nzType]="'primary'" (click)="doPay(item)">
              <span style="margin:0px;">
                <i class="anticon anticon-pay-circle-o"></i>结算</span>
            </button>
            <button *ngIf="canRestore(item)" [nzSize]="'default'" nz-button [nzType]="'primary'" (click)="doRestore(item)">
              <span style="margin:0px;">
                <i class="anticon anticon-rollback"></i>恢复</span>
            </button>
            <button *ngIf="canView(item)" [nzSize]="'default'" nz-button [nzType]="'default'" (click)="doView(item)">
              <span style="margin:0px;">
                <i class="anticon anticon-eye-o"></i>查看</span>
            </button>
            <button *ngIf="canPrint(item)" [nzSize]="'default'" nz-button [nzType]="'default'" (click)="doPrint(item)">
              <span style="margin:0px;">
                <i class="anticon anticon-printer"></i>打印</span>
            </button>
            <button style="color:coral;" nz-button [nzType]="'dashed'" [nzSize]="'default'" [nzShape]="'circle'" (click)="doDelete(item)">
              <i class="anticon anticon-delete"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div>
    <div *ngIf="list && list.length > 0" style="margin-top:15px;margin-bottom:15px;padding-left:15px;">
      <nz-pagination [(nzPageIndex)]="current" [nzTotal]="total" [(nzPageSize)]="size" [nzSize]="'small'" [nzShowTotal]="totalTemplate"
        (nzPageIndexChange)="load()" (nzPageSizeChange)="load()" [nzShowSizeChanger]="true" [nzPageSizeOptions]="[10, 20, 50, 100]">
      </nz-pagination>
      <ng-template #totalTemplate let-total>共 {{total}} 条</ng-template>
    </div>
  </div>
</div>
